<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold logo">Weather Reports</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item text-body">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>